/* .body{
    width: 100%;
    height: 70%;
    background-color: rgb(14, 137, 49);
} */


/* 版心 */
.w {
  width: 95%;
  margin: 0 auto;
}

.body .col-sm img {
  height: 150px;
  width: 150px;
  background-color: aliceblue;
}
.body .row {
  margin-top: 10px;
}

/* shortcut  start*/
.shortcut{
    line-height: 0;
}
.shortcut .headerTop {
  flex-direction: row-reverse;
  background-color: none;
  margin-bottom: 0;
}
.shortcut .login {
  margin-right: 20px;
}
.shortcut nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAECE8;
  border-bottom: 1px solid #efdad5;
  font-size: 12px;
}
.shortcut p {
  margin: 1em;
}
.shortcut .shopCar{
    font-family:'icomoon' ;
}
.icon-cart:before {
    content: "\e93a";
  }
/* end */



/* header部分 start */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
}
.header .headerRight{
    display: flex;
    align-items: center;
    justify-content:flex-end ;
}
.header .headerRight .search{
    margin-right: 1.5em;
}
.header .headerRight .search .btn{
    padding: 5px;
}
.header .logo{
    display: flex;
}
.header .logoLf{
    border-right: 1px solid black;
    padding-right: 14px;
    margin-right: 14px;
}
.header .logoLf a{
 text-align: center;
 line-height: 36px;
}
.header .logoRt{
    font-size: 0.5em
}
/* end */

/* nav start */
nav .nav {
    display: flex;
    justify-content: space-between;
}
nav .nav a{
    font-size: 0.3em;
}
/* end */

/* body start */
.hotSell,
.promotion,
.new{
  text-align: center;
  height: 90px;
  line-height: 90px;
}
.hotSell .box,
.promotion .box,
.new .box{
  position: relative;
  /* display: inline-block; */
  /* line-height: 90px; */
  display: inline;
  padding: 10px 15px;

  height: 40px;
  border: 1px solid red;
  border-radius: 4px;
}
/* .hotSell .box .line{
  position: absolute;
  width: 4px;
  height: 20px;
  border: 1px solid black;
  background-color: black;
} */
/* end */